!=================================================

! Identificador dos cultivares
IDs = IB0094, IB0095

! Coeficientes geneticos (CSDL, EM-FL, FL-SH, FL-SD, SD-PM, FL-LF, LFMAX, SLAVR, SIZLF, XFRT, WTPSD, SFDUR, SDPDV, PODUR, THRSH, SDPRO, SDLIP)
CGs = CSDL, EM-FL, FL-SH, FL-SD, SD-PM, FL-LF, LFMAX, SLAVR, SIZLF, XFRT, WTPSD, SFDUR, SDPDV, PODUR, THRSH, SDPRO, SDLIP

! Valor maximo de variacao (%)
VMax = 300

! Valor minimo de variacao (%)
VMin = -99

! Taxa de variacao maxima permitida
RateMax = 1.1

! Taxa de variacao minima permitida
RateMin = 0.9

! Execucao de aproximacao
Limit = 3

! taxa de cobertura (%)
Coverage = 0.1

!=================================================

!=================================================

! Arquivo de saida summary do DSSAT
SummaryFile = Summary.OUT

! Arquivo de cultivares do DSSAT
CultivarFile = BNGRO045.CUL

! Arquivo .X do DSSAT
XFile = SPSQ8001.SNX

!=================================================

!=================================================

! Arquivo de saida da baseline (tabela contendo a primeira execucao)
baselineTableFile = baseline.csv

! Arquivo final de resultado (grafico)
OutputPlotFile = Resultado.tiff

! Arquivo final de resultado (tabela)
OutputTableFile = Resultado.csv

! Arquivo de saida da analise por combinacao (APC)
APCOutput = MatrixCombinacoes.csv

!=================================================